h1{
    color: rgb(4, 114, 114);
    border: 8px solid rgb(4, 114, 114);
    border-style: inset;
}
::before, ::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #3c1c1c;
    background-image: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}